@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

html {
    background-color: #555;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 590px;
}

body {
    min-height: 530px;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    
    color: #f5f5f5;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align:center;

    margin:30px;
    background-color:#444;
    border-radius: 5px;
    padding:0 30px;
}

header, section, footer, aside, nav, article, figure {
    display: block;
}

a:link, a:visited, a:hover, a:active {
    color: #ccc;
    text-decoration: none;
}

h1 {
    padding:0;
    margin:15px 30px 0 0;
    font-size:50px;
    text-align:right;
    font-weight: 300;
}

header {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    margin: 80px auto 0 auto;
    font-size: 0;
}
nav ul li {
    display:inline-block;
    width: 148px;
    height: 148px;
    border: 2px solid #ccc;
}
nav ul li:nth-child(1) {
    border-left: none;
    border-top: none;
}
nav ul li:nth-child(2) {
    border-right: none;
    border-top: none;
}
nav ul li:nth-child(3) {
    border-left: none;
    border-bottom: none;
}
nav ul li:nth-child(4) {
    border-right: none;
    border-bottom: none;
}

nav ul li a {
    display:inline-block;
    width: 148px;
    height: 148px;
    line-height:148px;
    font-size: 30px;
    text-decoration: none;
    color: #ccc;
    text-transform: lowercase;
    font-weight: 400;
}
nav ul li a:hover {
    background-color:#ccc;
    color:#444;
}

footer div.copyright {
    position: absolute;
    height:30px;
    left:0;
    right:0;
    bottom:-30px;
    font-size:10px;
    color: #ccc;
    line-height:30px;
    font-family:sans-serif;
}
footer div.copyright a {
}
footer div.logos {
    display:block;
    position:absolute;
    right:0;
    bottom:15px;
}
footer div.logos a {
    display:inline-block;
    margin-right:15px;
    width: 32px;
    height: 32px;
    position:relative;
    opacity: 0.4;
}
footer div.logos a:hover {
    opacity: 1;
}
address {
    display:none;
}

.twitterlogo {
    width: 35px;
    background-image: url(images/twitter_logo.svg);
    background-repeat: no-repeat;
}

.instagramlogo {
    box-sizing: border-box;
    border: solid 3px #bfd2de;
    border-radius: 7px;
    background-image: -moz-linear-gradient(#bfd2de 50%, #507fa3 50%);
    background-image: -webkit-linear-gradient(#bfd2de 50%, #507fa3 50%);
    background-image: linear-gradient(#bfd2de 50%, #507fa3 50%);
}
.instagramlogo::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border: solid 4px #bfd2de;
    border-radius: 9px;
    background-color: #507fa3;
    margin: 5px auto 0 auto;
}
.instagramlogo::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 5px;
    height: 5px;
    background-color: #507fa3;
    border-radius: 1px;
}

footer div.logos a.jslogo {
    display:none;
    background-color: #f6de1d;
}
.jslogo::after {
    content: "JS";
    font-family: sans-serif;
    color: #000000;
    font-weight:700;
    font-size:20px;
    line-height:44px;
    text-align:right;
    position:absolute;
    top:0;
    right:1px;
}

.linkedinlogo {
    border-radius: 5px;
    background-color: #0181ae;
}
.linkedinlogo::before {
    content: "in";
    font-family: sans-serif;
    color: #fff;
    font-weight:700;
    font-size:28px;
    line-height:34px;
    text-align:left;
    position:absolute;
    width:100%;
    left:4px;
}
.linkedinlogo::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
}

footer div.logos a.aboutmelogo {
    display:none;
    border-radius: 5px;
    background-color: #032932;
}
.aboutmelogo::before {
    content: "me";
    font-family: sans-serif;
    color: #f9bd05;
    font-weight:700;
    font-size:18px;
    line-height:34px;
    text-align:center;
    position:absolute;
    width:100%;
    left:0;
}

footer div.logos a.html5logo {
    margin-left:-6px;
    width:40px;
    height:40px;
    background-image: url(images/HTML5_logo_and_wordmark.svg);
}
